@import "../../assets/styles/reset.scss";

.layout {
    overflow-x: hidden;
    height: 100vh;
    max-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;

    &__fixed {
        position: fixed;
    }
}