@import "../shared/variables.scss";
@import "../shared/texts.scss";

.projects-container {
    .information-container {
        .title {
            width: 100%;
            text-align: center;
            margin: 0.8rem 0 0.5rem 0;
            @include texts(1.9rem, $colorDarkBlue, 700);
            span {
                color: $colorPurple;
            }
        }
        .text {
            padding: 0 2rem;
            margin-bottom: 0;
            text-align: center;
            line-height: 1.2rem;
            @include texts(0.9rem, black, 400);
        }
    }

    .projects {
        .project {
            display: flex;
            padding: 1.8rem 0;
            flex-direction: column;
            justify-content: center;
            .project-information {
                display: flex;
                align-items: center;
                margin-bottom: 0.8rem;
                flex-direction: column;
                .project-title {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 0.7rem;
                }
                .project-text {
                    text-align: center;
                    line-height: 1.2rem;
                    padding: 0px 0.9rem;
                    margin-bottom: 1rem;
                }
                .icons-container {
                    margin-bottom: 1rem;
                    img {
                        width: 16rem;
                    }
                }
                .buttons-container {
                    gap: 1rem;
                    display: flex;
                    margin-bottom: 0.8rem;
                    a {
                        border-radius: 1rem;
                        text-decoration: none;
                        padding: 0.6rem 1.1rem;
                    }
                }
            }
            .mockup-project {
                display: flex;
                justify-content: center;
                img {
                    width: 80vw;
                }
            }
        }
        .p1 {
            .project-information {
                .project-title {
                    @include texts(1.5rem, $colorPurple, 700);
                }
                .project-text {
                    @include texts(0.9rem, black, 400);
                }
                .buttons-container {
                    a {
                       background-color: $colorDarkBlue;
                       @include texts(1.2rem, rgb(255, 255, 255), 600);
                    }
                }
            }
        }
        .p2 {
            background-color: $colorDarkBlue;
            .project-information {
                .project-title {
                    @include texts(1.5rem, white, 700);
                }
                .project-text {
                    @include texts(0.9rem, white, 400);
                }
                .buttons-container {
                    a {
                       background-color: white;
                       @include texts(1.2rem, $colorDarkBlue, 600);
                    }
                }
            }
        }
    }
}

@media (min-width: 600px) {
    .projects-container {
        .information-container {
            .title {
                @include texts(2rem, $colorDarkBlue, 700);
            }
            .text {
                @include texts(1.1rem, black, 400);
            }
        }
        .projects {
            .project {
                .project-information {
                    .project-text {
                        padding: 0px 1rem;
                        line-height: 1.5rem;
                    }
                    .icons-container {
                        img {
                            width: 18rem;
                        }
                    }
                    .buttons-container {
                        gap: 1rem;
                        a {
                            border-radius: 1rem;
                            padding: 0.9rem 1.5rem;
                        }
                    }
                }
                .mockup-project {
                    img {
                        width: 50vw;
                    }
                }
            }
            .p1 {
                .project-information {
                    .project-title {
                        @include texts(1.9rem, $colorPurple, 700);
                    }
                    .project-text {
                        @include texts(1.1rem, black, 400);
                    }
                    .buttons-container {
                        a {
                           background-color: $colorDarkBlue;
                           @include texts(1.4rem, rgb(255, 255, 255), 600);
                        }
                    }
                }
            }
            .p2 {
                background-color: $colorDarkBlue;
                .project-information {
                    .project-title {
                        @include texts(1.9rem, white, 700);
                    }
                    .project-text {
                        @include texts(1.1rem, white, 400);
                    }
                    .buttons-container {
                        a {
                           background-color: white;
                           @include texts(1.4rem, $colorDarkBlue, 600);
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .projects-container {
        .information-container {
            .title {
                margin-bottom: 1rem;
                @include texts(2.5rem, $colorDarkBlue, 700);
            }
            .text {
                @include texts(1.3rem, black, 400);
            }
        }
        .projects {
            .project {
                padding: 2rem 0;
                flex-direction: row;
                align-items: center;
                .project-information {
                    .project-title {
                        font-size: 2rem;
                    }
                    .project-text {
                        line-height: 1.5rem;
                        font-size: 1.2rem;
                    }
                    width: 50%;
                    .buttons-container {
                        a {
                            border-radius: 1.2rem;
                            padding: 0.7rem 1.5rem;
                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
                .mockup-project {
                    width: 35%;
                    img {
                        width: 100%;
                    }
                }
            }
            .p2 {
                flex-direction: row-reverse;
            }
        }
    }
}