<div
  class="nav-mobile-container"
  [class.theme1]="!navElements"
  [class.theme2]="navElements"
>
  <div class="nav">
    <div class="open-button" (click)="open()">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    <div class="close-button" (click)="close()">
      <img src="../../assets/nav/close.svg" alt="close button" />
    </div>
    <div class="logo-container">
      <img class="logo" src="../../assets/nav/logo.svg" alt="logo" />
    </div>
  </div>
  <div class="nav-elements">
    <ul>
      <li
        *ngFor="let item of elements"
        [routerLink]="item.route"
        (click)="close()"
      >
        {{ item.label }}
      </li>
    </ul>
  </div>
</div>

<div class="menu-container">
  <div class="logo-container">
    <img class="logo" src="../../assets/nav/logo.svg" alt="logo" />
  </div>
  <div class="menu-elements">
    <ul>
      <li
        *ngFor="let item of elements"
        [routerLink]="item.route"
        (click)="close()"
      >
        {{ item.label }}
        <hr>
      </li>
    </ul>
  </div>
</div>
