.home {
    &__illustration-container{
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    &__illustration {
        width: 80%;
    }
}

@media screen and (min-width: 602px) {
    .home {
        &__illustration {
            width: 55vw;
            max-width: 400px;
        }
    }
}

@media screen and (min-width: 1000px) {
    .home {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;

        &__illustration-container{
           width: max-content;
        }
    }
}