.home {
    &__illustration-container{
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    &__illustration {
        width: 80%;
    }
}

@media screen and (min-width: 602px) {
    .home {
        &__illustration {
            width: 55%;
        }
    }
}