@import "../shared/variables.scss";
@import "../shared/texts.scss";

.skills-container {
    .information-container {
        .title {
            width: 100%;
            text-align: center;
            margin: 0.8rem 0 0.6rem 0;
            @include texts(1.9rem, $colorDarkBlue, 700);
            span {
                color: $colorPurple;
            }
        }
        .text {
            padding: 0 2rem;
            text-align: center;
            margin-bottom: 1.7rem;
            @include texts(0.9rem, black, 400);
            span {
                color: $colorBlue;
            }
        }
        .skills-container{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            .skill {
                width: 26%;
                gap: 0.5rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                .skill-image {
                    width: 20vw;
                }
                .skill-name {
                    text-align: center;
                    @include texts(0.9rem,$colorPurple, 600);
                }

            }
        }
    }
    .illustration-container {
        display: none;
    }
}