@import "../shared/variables.scss";
@import "../shared/texts.scss";

.skills-container {
    .information-container {
        .title {
            width: 100%;
            text-align: center;
            margin: 0.8rem 0 0.6rem 0;
            @include texts(1.9rem, $colorDarkBlue, 700);
            span {
                color: $colorPurple;
            }
        }
        .text {
            
            padding: 0 2rem;
            text-align: center;
            line-height: 1.2rem;
            margin-bottom: 1.7rem;
            @include texts(0.9rem, black, 400);
            span {
                color: $colorBlue;
            }
        }
        .skills-container{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            .skill {
                width: 26%;
                gap: 0.5rem;
                display: flex;
                align-items: center;
                flex-direction: column;
                .skill-image {
                    width: 20vw;
                }
                .skill-name {
                    text-align: center;
                    @include texts(0.9rem,$colorPurple, 600);
                }

            }
        }
    }
    .illustration-container {
        display: none;
    }
}

@media (min-width: 600px) {
    .skills-container {
        .information-container {
            .title {
                @include texts(2rem, $colorDarkBlue, 700);
            }
            .text {
                padding: 0 3rem;
                @include texts(1.1rem, black, 400);
            }
            .skills-container{
                padding: 0 3rem;
                .skill {
                    width: 18%;
                    .skill-image {
                        width: 11vw;
                    }
                    .skill-name {
                        text-align: center;
                        @include texts(1rem,$colorPurple, 600);
                    }
    
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .skills-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
        height: calc(100vh - 88.563px);
        .information-container {
            width: 55%;
            display: flex;
            align-items: center;
            flex-direction: column;
            .title {
                margin-bottom: 1rem;
                @include texts(2.5rem, $colorDarkBlue, 700);
            }
            .text {
                line-height: 1.8rem;
                @include texts(1.3rem, black, 400);
            }
            .skills-container{
                gap: 1rem;
                width: 80%;
                padding: 0 3rem;
                height: min-content;
                .skill {
                    width: min-content;
                    .skill-image {
                        width: 4vw;
                    }
                    .skill-name {
                        text-align: center;
                        @include texts(0.9rem,$colorPurple, 600);
                    }
    
                }
            }
        }
        .illustration-container {
            display: flex;
            margin-right: 3vw;
            justify-content: right;
            img {
                width: 80%;
            }
        } 
    }
}