@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.projects {
    font-family: $quicksand-font;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        @include text($dark-cyan, 2rem, 600);
        margin-bottom: 0.4rem;
        text-align: center;

        span {
            color: $english-violet;
        }
    }

    &__text {
        text-align: center;
        padding: 0 1.3rem;

        span {
            color: $dark-cyan;
        }
    }
}

@media screen and (min-width: 602px) {
    .projects {
        &__title {
            font-size: 2.2rem;
        }

        &__text {
            font-size: 1.13rem;
        }
    }

}