@import "./variables.scss";

@mixin text ($color:black, $font-size:16px, $font-weight:600) {
    color: $color;
    font-family: $quicksand-font;
    font-weight: $font-weight;
    font-size: $font-size;
}