@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$dark-cyan: #439A97;
$verdigris: #62B6B7;
$tiffany-blue: #97DECE;
$nyanza: #CBEDD5;
$english-violet: #3F3D56;
$gray: rgba(187, 187, 187, 0.986);
$quicksand-font:'Quicksand', sans-serif;
