@import "../shared/variables.scss";
@import "../shared/texts.scss";

.home-container {
    .information-container {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        flex-direction: column;
        
        .title {
            width: 100%;
            text-align: center;
            margin: 0.8rem 0 0.2rem 0;
            @include texts(1.8rem, black, 700);
        }
        hr {
            width: 75vw;
            height: 3px;
            border: none;
            margin-bottom: 0.3rem;
            background-color: $colorDarkBlue;
        }
        .subtitle {
            width: 100%;
            text-align: center;
            margin-bottom: 0.5rem;
            @include texts(1.2rem, $colorBlue, 500);
        }
        .text {
            padding: 0 2rem;
            text-align: center;
            margin-bottom: 1.7rem;
            @include texts(0.9rem, black, 400);
            span {
                color: $colorBlue;
            }
        }
        .social-media-icons {
            display: flex;
            gap: 1rem;
            a {
                img {
                    width: 15vw;
                }
            }
        }
    }
    .illustration-container {
        display: flex;
        margin-bottom: 3rem;
        justify-content: center;
        img {
            width: 75vw;
        }
    }
}


@media (min-width: 600px) {
    .home-container {
        .information-container {
            hr {
                width: 55vw;
            }
            .text {
                padding: 0 3rem;
            }
            .social-media-icons {
                a {
                    img {
                        width: 10vw;
                    }
                }
            }
        }
        .illustration-container {
            img {
                width: 40vw;
            }
        }
    }
}