<main class="home-container">
  <div class="information-container">
    <h1 class="title">Mariana Castañeda</h1>
    <hr>
    <h2 class="subtitle">Desarrolladora Front End</h2>
    <p class="text">
      Comencé mi trayectoria estudiando una técnica en procedimientos contables
      donde adquirí experiencia en el área de costos; en el camino descubrí mi
      pasión por la tecnología y actualmente soy desarrolladora Front End,
      estudié los últimos meses de manera autodidacta y reforcé mis
      conocimientos en Front End de la mano de
      <span>Makaia.</span
      >
    </p>
    <div class="social-media-icons">
      <a href="https://github.com/Mrcsbda">
        <img src="../../assets/home/github.svg" alt="github-icon" />
      </a>
      <a href="https://www.linkedin.com/in/mariana-casta%C3%B1eda/">
        <img src="../../assets/home/linkedin.svg" alt="linkedin-icon" />
      </a>
      <a href="https://twitter.com/mrcsbda">
        <img src="../../assets/home/twitter.svg" alt="twitter-icon" />
      </a>
    </div>
  </div>
  <div class="illustration-container">
    <img src="../../assets/home/woman.svg" alt="woman illustration" />
  </div>
</main>
